@tailwind base;
@tailwind components;
@tailwind utilities;

.visibleee {
    height: fit-content;
    padding: 8px;
    border-top: 1px solid green;
}
.mainContainer {
    gap: 10px;
}
.containerResposta {
    padding: 1rem;
}
.translate {
    transform: rotate(180deg);
}